.section{
    max-width: 400px;
    margin:150px auto;
    background-color: rgb(171, 255, 227);
    padding: 25px;
}

button{
    display: block;
}

h1{
    text-align: center;
}

.mid{
    max-width: 200px;
    margin:10px auto;
}

input[type="text"]{
    width:95%;
}

button{
    color:white;
    background-color: rgb(17, 88, 64);
    padding:5px 10px;
    margin-left:120px;
}

input[type="checkbox"]{
    margin-right: 10px;
}
